<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/index.css">
  <title>Inicial - To-Do List</title>
</head>
<body>
  <main>
    <div class="conatiner">
        <img src="/static/IMG/imagem-fundo-normal.svg" alt="Imagem de fundo">
        <h1>Bem-vindo ao ToDo List</h1>
        <p>Com nosso aplicativo, você pode organizar suas tarefas de forma prática e eficiente.</p>
        <p>Porque organização é o primeiro passo para alcançar seus objetivos!</p>

        <!-- btn -->
        <div class="container">
          <a href="/to-do" class="button type--C">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">ENTRY</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
        </div>
      </div>
    </div>
  </main>
</body>
</html>